
<h1>{{titulo}}</h1>

<body class="row"> 
    <div class="col-sm costadito" >

    </div>
<form [formGroup]="formOperacion"(ngSubmit)="GuardarFormulario()" class="form-horizontal col-sm">
    <fieldset>

        <div class="form-group">
            <label for="concepto" class="col-sm-2 control-label">Concepto</label>
            <div class="col-md-8">
                <input class="form-control"
                id="concepto"
                type="text"
                formControlName="concepto"/>
            </div>
        </div>

        <div class="form-group">
            <label for="monto" class="col-sm-2 control-label">Monto</label>
            <div class="col-md-8">
                <input class="form-control"
                id="monto"
                type="text"
                formControlName="monto"
            />
            </div>
        </div>

        <div class="form-group">
            <label for="start" class="col-sm-2 control-label">Fecha</label>
            <div class="col-md-8">
                <input class="form-control"
                id="start"
                type="date"
                value="date"
                name="trip-start"
                min="2021-01-01" max="2021-12-31">
            </div>
        </div>

        <div class="form-group">
            <label for="tipo" class="col-sm-2 control-label">Tipo</label>
            <div class="col-md-8">
                <select formControlName="tipo" class="form-control">
                    <option value="">---Seleccionar el tipo---</option>
                    <option *ngFor="let tipo of tipos" [value]="tipo.descripcion">{{ tipo.descripcion }}</option>
                </select> 
            </div>
        </div>

        <div class="form-group">
            <label for="categoria" class="col-sm-2 control-label">Categoria</label>
            <div class="col-md-8">
                <select formControlName="categoria" class="form-control">
                    <option value="">---Seleccionar la categoria---</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.descripcion">{{ categoria.descripcion }}</option>
                </select> 
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
            <button type="submit" class="btn btn-primary form-control" [disabled]="!formOperacion.valid">Guardar</button>
        </div>
        </div>

    </fieldset>
</form>
</body> 

