<body>

<form action="" method="POST" id="form">
    <div class="form">
        <h1>NUEVO USUARIO</h1>
    <div class="grupo" >
        <label for="">Nombre</label>
        <input type="text" name="" id="name" required><span class="barra"></span>
        
    </div>

    <div class="grupo" >
        <label for="">Apellido</label>
        <input type="text" name="" id="name" required><span class="barra"></span>
        
    </div>

    <div class="grupo">
        <label for="">Email</label>
        <input type="email" name="" id="name" required><span class="barra"></span>
        
    </div>

    <div class="grupo">
        <label for="">Password</label>
        <input type="password" name="" id="name" required><span class="barra"></span>
        
    </div>

    <button type="submit">REGISTRARSE</button>
    <a href="../login/">Login</a>

    </div>
</form>
</body>