<body>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="loginForm">
        <h1 class="loginTitle">LOGIN</h1>
    <div >
        <label for="">Email</label>
        <input type="email" Name="email" formControlName="username"  required><span class="barra"></span>
    </div>

    <div >
        <label for="">Password</label>
        <input type="password" Name="password" formControlName="password" required><span class="barra"></span>
        
    </div>

    <button type="submit">INGRESAR</button>
    <a href="../registro/">Registrarse</a>

    </div>
</form>
</body>